body{
    height: 1300px;
    width: 99%;
    background-color: rgb(255, 233, 233);
}

nav{
    display: flex;
    justify-content: end;
    height: 80px;
    width: 100%;
    background-color: red;
}

ul{
    display: flex;
    list-style-type: none;
    width: 90%;
    justify-content: space-around;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

li a:hover{
    color: yellow;
    cursor: pointer;
}

input{
    position: relative;
    width: 200px;
    height: 35px;
}

/* ===Background photo=== */
.bg-pic{
    display: flex;
}

.rectang{
    margin-top: 60px;
    margin-left: 350px;
    height: 70px;
    width: 750px;
    background-color: rgb(218, 2, 2);
}

.admin{
    margin-top: -54px;
    margin-left: 550px;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

form {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: red;
    width: 49.5%;
    height: 590px;
    margin-left: 350px;
    margin-top: -16px;
    background-color: rgb(254, 243, 243);
}

.the-form{
    align-content: center;
    margin-top: -590px;
    padding-left: 20px;
    padding-right: 20px;
}

.name{
    width: 240px;
    height: 30px;
    
}

.boxes{
    margin-left: 390px;
    margin-top: 60px;
}

.lname{
    width: 240px;
    height: 30px;
    
}

.bdd{
    margin-left: 760px;
    margin-top: -55px;
}

.idnum{
    width: 240px;
    height: 30px; 
}

.mmm{
    margin-left: 390px;
    margin-top: 60px;
}

.gen{
    width: 240px;
    height: 30px;
    
}

.ccd{
    margin-left: 760px;
    margin-top: -55px;
}

.phone{
    width: 240px;
    height: 30px; 
}

.xxx{
    margin-left: 390px;
    margin-top: 60px;
}

.mail{
    width: 240px;
    height: 30px;
    
}

.szsz{
    margin-left: 760px;
    margin-top: -55px;
}

.word{
    width: 240px;
    height: 30px; 
}

.pass{
    margin-left: 390px;
    margin-top: 60px;
}

.firm{
    width: 240px;
    height: 30px;
    
}

.con{
    margin-left: 760px;
    margin-top: -55px;
}
/* ===Create button=== */
.create{
    width: 199px;
    height: 41px;
    margin-top: 70px;
    margin-left: 620px;
    color: white;
    background-color: red;
    border: none;
    font-weight: bold;
    text-decoration: none;
}
/* ==========Last container===========*/
.box-5{
    background-color: rgb(212, 10, 10);
    height: 430px;
    width: 100%;
    margin-top: 80px;
  }
/* ========= Footer contents ========== */
.foot{
    padding-top: 28px;
    padding-left: 100px;
}
  
.map{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: yellow;
    cursor: pointer;
}
  
a{
    text-decoration: none;
    color: white;
}

.ome{
    color: white;
    margin-top: -7px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.become{
    color: white;
    margin-top: 9px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.about{
    color: white;
    margin-top: 15px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.organi{
    color: white;
    margin-left: 240px;
    margin-top: -195px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.serv{
    color: white;
    margin-left: 240px;
    margin-top: -37px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.process{
    color: white;
    margin-left: 240px;
    margin-top: -27px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.contac{
    color: white;
    margin-left: 490px;
    margin-top: -156px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.call{
    color: white;
    margin-left: 490px;
    margin-top: -37px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.email-us{
    color: white;
    margin-left: 490px;
    margin-top: -26px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.whatsapp{
    color: white;
    margin-left: 490px;
    margin-top: -19px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.sub{
  
    margin-top: -156px;
    margin-left: 990px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
  
.emails{
    width: 258px;
    height: 41px;
}
  
.subscribe {
       
    width: 266px;
    height: 44px;
    color: white;
    background-color: red;
    border: none;
    margin-top: 10px;
}
  
.last-logo{
    display: flex;
    margin-top: 77px;
    margin-left: -980px;
}
  
.socialdo{
    display: flex;
    color: white;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -50px;
    margin-left: -730px;
}
