body{
    height: 100%;
    width: 99%;
    background-color: rgb(253, 233, 233);
}

nav{
    display: flex;
    justify-content: end;
    height: 80px;
    width: 100%;
    background-color: red;
}

ul{
    display: flex;
    list-style-type: none;
    width: 90%;
    justify-content: space-around;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

li a:hover{
    color: yellow;
    cursor: pointer;
}

input{
    position: relative;
    width: 200px;
    height: 35px;
}

.bg-pic{
    display: flex;
}

.boxx{
    height: 390px;
    width: auto;
    display: flex;
    background-color: rgb(253, 233, 233);
}

.become-heading{
    color: red;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-left: 170px;
}

#paragraph1{
    text-align: justify;
    margin-right: 230px;
    margin-left: 170px;
    margin-top: 60px;
    font-size: 15pt;
    font-weight: medium;
}

/* ==================================================== Second container =====================================*/
.box-container{
  background-color: rgb(253, 233, 233);
  height: 540px;
  width: 100%;
  display: flex;
  padding-bottom: 15px;
}
/* ==============Styling the picture========= */
#picturee{
  display: flex;
  padding-left: 170px;
  padding-bottom: 15px;
}

.heada{
  color: red;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 170px;
    margin-bottom: 30px;
}

#text2{
  text-align: justify;
  font-size: large;
  color: black;
  width: 1030px;
  margin-left: 170px;
  margin-bottom: 60px;
}

span{
  color: red;
}

/* ==========================================Footer, Fifth container=========================================== */

.box-5{
    background-color: rgb(212, 10, 10);
    height: 440px;
    width: auto;
    margin-top: -5px;
  }
  
  .foot{
    padding-top: 28px;
    padding-left: 100px;
  }
  
  .map{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  a:hover{
    color: yellow;
    cursor: pointer;
  }
  
   a{
    text-decoration: none;
    color: white;
   }

  .ome{
    color: white;
    margin-top: -7px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .become{
    color: white;
    margin-top: 9px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .about{
    color: white;
    margin-top: 15px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .organi{
    color: white;
    margin-left: 240px;
    margin-top: -195px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .serv{
    color: white;
    margin-left: 240px;
    margin-top: -37px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .process{
    color: white;
    margin-left: 240px;
    margin-top: -27px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .contac{
    color: white;
    margin-left: 490px;
    margin-top: -156px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .call{
    color: white;
    margin-left: 490px;
    margin-top: -37px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .email-us{
    color: white;
    margin-left: 490px;
    margin-top: -26px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .whatsapp{
    color: white;
    margin-left: 490px;
    margin-top: -19px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sub{
  
    margin-top: -156px;
    margin-left: 990px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
  .emails{
    width: 258px;
    height: 41px;
  }
  
  .subscribe {
       
    width: 265px;
    height: 41px;
    color: white;
    background-color: red;
    border: none;
    margin-top: 10px;
  }
  
  .last-logo{
    display: flex;
    margin-top: 82px;
    margin-left: -980px;
  }
  
  .socialdo{
    display: flex;
    color: white;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -50px;
    margin-left: -730px;
  }