body{
    height: 1000px;
    width: 99%;
    background-color: rgb(253, 233, 233);
}

.bg-pic{
    display: flex;
}

.board{
    height: 70px;
    width: 300px;
    margin-right: 100px;
    background-color: rgb(161, 0, 0);
}

.box{
    height: 600px;
    width: 300px;
    background-color: rgb(189, 0, 0);
    margin-right: 100px;
    margin-top: -3px;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: 48px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    margin-top: 150px;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
    color: yellow;
    cursor: pointer;
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #555 /* Light Black */
  }

  
.types{
    margin-top: -45px;
    margin-left: 310px;
    color: rgb(0, 0, 88);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.bloodg{
    margin-left: 385px;
    margin-top: 40px;
}

.piechart{
    margin-left: 390px;
    margin-top: 30px;
}

/* ====================================================Footer, Fifth container========================================================= */

.box-5{
    background-color: rgb(212, 10, 10);
    height: 439px;
    width: 1505px;
    margin-top: 19px;
  }
  
  .foot{
    padding-top: 28px;
    padding-left: 100px;
  }
  
  .map{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a:hover{
    color: yellow;
    cursor: pointer;
  }
  
   a{
    text-decoration: none;
    color: white;
   }
  
  .ome{
    color: white;
    margin-top: -7px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .become{
    color: white;
    margin-top: 9px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .about{
    color: white;
    margin-top: 15px;
    margin-right: 100px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .organi{
    color: white;
    margin-left: 240px;
    margin-top: -195px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .serv{
    color: white;
    margin-left: 240px;
    margin-top: -37px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .process{
    color: white;
    margin-left: 240px;
    margin-top: -27px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .contac{
    color: white;
    margin-left: 490px;
    margin-top: -156px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .call{
    color: white;
    margin-left: 490px;
    margin-top: -37px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .email-us{
    color: white;
    margin-left: 490px;
    margin-top: -26px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .whatsapp{
    color: white;
    margin-left: 490px;
    margin-top: -19px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sub{
  
    margin-top: -156px;
    margin-left: 990px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
  .emails{
    width: 258px;
    height: 41px;
  }
  
  .subscribe {
       
    width: 265px;
    height: 41px;
    color: white;
    background-color: red;
    border: none;
    margin-top: 10px;
  }
  
  .last-logo{
    display: flex;
    margin-top: 80px;
    margin-left: -980px;
  }
  
  .socialdo{
    display: flex;
    color: white;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -50px;
    margin-left: -730px;
  }